
.sign-header {
    display: flex;
    width: 100%;
    height: 50px;     
    margin-top: 10px;
    margin-left: 50px;
}



.title-wrapper {
    display: flex;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.title-signup {
    display:flex;
}



.sign-color {
    background-color: #ECEEF1;
}



.card-wrapper {
    margin-top: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color:white;
    border: 1px solid #DBDFE5;
    padding-bottom: 30px;
    
}

.text-a {
    margin-left: 10px;
}



.social-container {
    display:flex;
    justify-content: space-around;
}

.social-cta {
    text-align: center;
}

#body-content {
    margin-top: 150px;
}



#btn-full {
    width: 100%;
}




